[class*='col-']
{
    border:0.5px solid black;  
}
.container
{
    padding-top: 50px;
}
.col-12
{
    text-align: center;
    padding: 20px 0 20px;
    background-color: antiquewhite;
}
.col
{
    text-align: center;
}
img
{
    width: 225px;
    height: 220px;
}